body {
  font-family: arial, sans-serif;
  color: antiquewhite;
}
div.container {
  display: block;
  margin: 100px auto;
  background-image: url("https://images.pexels.com/photos/326058/pexels-photo-326058.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  max-width: 800px;
}
form {
  margin: 0 auto;
  padding: 20px;
}
.humidity
.windSpeed {
  text-align: left;
  
}
.row {
  text-align: center;
  color: white;
  margin: 20px 0 20px 0;
  padding: 20px 0 50px 0;
}
h1 {
  color: white;
  text-align: center;
}
.forecast-weather-1,
.forecast-weather-2,
.forecast-weather-3,
.forecast-weather-4,
.forecast-weather-5 {
  font-size: 50px;
  padding: 10px 0 10px 0;
}
.forecast-weather-1,
.forecast-weather-2,
.forecast-weather-3,
.forecast-weather-4,
.forecast-weather-5 {
  margin-top: 20px;
  text-align: center;
  color: aliceblue;
}
.forecast-temp-top-1,
.forecast-temp-top-2,
.forecast-temp-top-3,
.forecast-temp-top-4,
.forecast-temp-top-5 {
  font-size: 16px;
}
.forecast-temp-bottom-1,
.forecast-temp-bottom-2,
.forecast-temp-bottom-3,
.forecast-temp-bottom-4,
.forecast-temp-bottom-5 {
  font-size: 13px;
}
.forecast-weather-date {
  font-size: 16px;
}
