body {
  font-family: arial, sans-serif;
  color:antiquewhite;
  background-image: url("https://images.pexels.com/photos/326058/pexels-photo-326058.jpeg?cs=srgb&dl=pexels-pixabay-326058.jpg&fm=jpg");

}
div.container {
    display: block;
    margin: 100px auto;
    max-width: 800px;
  background: linear-gradient(
    180deg,
    rgb(55, 198, 234) 0%,
    rgb(217, 147, 223) 100%
  );
  padding: 30px;
  border-radius: 10px;
  box-shadow: 10px 10px 36px -15px rgba(0, 0, 0, 0.75);
}
form {
  margin: 0 auto;
  padding: 20px;
}

h1 {
  color: white;
  text-align: center;
}

h3 {
  font-size: 25px;
}

.text-field {
  padding: 5px 80px;
  border: none;
  border-radius: 4px;
}

.row-2 {
  margin-top: 50px;
  margin-bottom: 70px;
}

.large-weather {
  color: white;
  font-size: 180px;
  padding: 0 0 0 40px;
}

.large-temperature {
  color: white;
  padding: 75px 0 20px;
}

.info {
  font-size: 12px;
  padding: 10px;
}

.time {
  color: white;
  text-align: left;
}

.row-3 {
  text-align: center;
  color: white;
  margin: 20px 0 20px 0;
  padding: 20px 0 50px 0;
}

.small-weather-1,
.small-weather-2,
.small-weather-3,
.small-weather-4,
.small-weather-5 {
  font-size: 50px;
}

.small-temp-top-1,
.small-temp-top-2,
.small-temp-top-3,
.small-temp-top-4,
.small-temp-top-5 {
  font-size: 15px;
  padding: 10px 0 10px 0;
}

.small-bottom-top-1,
.small-bottom-top-2,
.small-bottom-top-3,
.small-bottom-top-4,
.small-bottom-top-5 {
  font-size: 15px;
  padding: 10px 0 0 0;
}

.fahrenheit,
.celsius {
  color: white;
  text-decoration: none;
}

.fahrenheit:hover,
.celsius:hover {
  color: lightgray;
}

.temperature {
  padding: 10px;
}

.go-button {
  padding: 4px 10px;
  background-color: transparent;
  color: white;
  border: 1.3px solid white;
  border-radius: 4px;
}

.location-button {
  margin: 20px 0px 20px 100px;
  padding: 4px 10px;
  background-color: transparent;
  color: white;
  border: 1.3px solid white;
  border-radius: 4px;
}

.description {
  padding: 0px 10px;
}
