body {
  font-family: arial, sans-serif;
  color:antiquewhite;
  background-image: url(`https://images.pexels.com/photos/326058/pexels-photo-326058.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2`);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

}
.row-3 {
  text-align: center;
  color: white;
  margin: 20px 0 20px 0;
  padding: 20px 0 50px 0;
}
h1 {
  color: white;
  text-align: center;
}
.small-weather-1,
.small-weather-2,
.small-weather-3,
.small-weather-4,
.small-weather-5 {
  font-size: 50px;
  padding: 10px 0 10px 0;
}
